{% extends "base.html.twig" %}

{% block title 'New Pin' %}

{% block body %}
	<h1>Pin Create</h1>
	{{form_start(form)}}
	{{form_widget(form)}}
	<input type="submit" value="Create Pin">
	{{form_end(form)}}
{% endblock %}
