@import'shared/variables';
@import"~bootstrap/scss/bootstrap";
html , body{
    font-family: $primary-font, sans-serif;
}
.alert{
    padding:10px;
    color:white;
    text-align:center;
    margin:0;
    border:none;
    border-radius:0;

    &.alert-success{
        padding:10px;
        background-color:green;
        text-align:center;
        } 
    &.alert-error{
        padding:10px;
        background-color:red;
        text-align:center;
        } 
    &.alert-info{
        padding:10px;
        background-color:blue;
        text-align:center;
        } 
    } 

.vich-image {
    
    .form-check{
        @extend .mt-3
    }
        img {
        @extend .mb-2, .rounded, .shadow, .img-thumbnail;
        }
}
.pin img{
    transition: transform 0.3s ease-out;
    &:hover{
        transform : scale(1.075)
    }
}
